* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

#container {
  width: 90vw;
  height: 90vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

#loginRightRow {
  width: 40%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#loginLeftRow {
  height: 100%;
  width: 60%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  width: 100%;
  height: auto;
}

.nameEmailContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.nameEmailContainer h1 {
  width: 100px;
}

button {
  width: 20%;
  height: 30px;
  align-self: flex-end;
}
