* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#container {
  width: 600px;
  height: 900px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

#chat-room {
  width: 600px;
  height: 820px;
  background-color: lightblue;
  padding: 10px;
  overflow: scroll;
  /* float: left; */
  display: flex;
  /* align-items: flex-end; */
  flex-direction: column;
}

#chat-room::-webkit-scrollbar {
  display: none;
}

#chat-holder {
  width: 600px;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: lightgreen;
}

.chat-box {
  width: fit-content;
  height: auto;
  padding: 30px;
  background-color: lime;
  margin-bottom: 20px;
  /* float: left; */
  display: inline-block;
  border-radius: 10px;
  max-width: 250px;
  /* flex-direction: column; */
}

.self {
  float: right;
  background-color: aqua;
}

.userNameTitle {
  font-size: larger;
}

.dateText {
  font-size: smaller;
  text-align: right;
  margin-top: 10px;
}

#send-button {
  width: 20%;
  height: 30px;
  /* align-self: flex-end; */
}
